<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
  <title></title>
  <link rel="stylesheet" href="./css/main.min.css" />
  <link rel="stylesheet" href="../node_modules/@iconscout/unicons/css/line.css">
  <!-- https://iconscout.com/unicons/explore/line -->
</head>

<body>

  <h1>Hello Word!</h1>

  <script src="./js/index.js"></script>
</body>

</html>